.nav-cates{height:58px;}
.bjp{padding-bottom:5px;}
.bjp p{padding:0.2rem 1rem;color:#555}
.bjp img{width:80%;height:57%;margin-left:10px}
.bjp .big img{width:100%;height:78%;}
.bjp .big{width:39.7%;height:161px;border-right:1px solid #eee;border-bottom:1px solid #eee;float:left;border-right:none;}
.bjp .logo-right{width:60%;height:80px;float:left;border-bottom:1px solid #eee;float:right;}
.bjp .cates{width:49%;border-bottom:1px solid #eee;height:80px;border-left:1px solid #eee;}
